@{
    ViewData["isDashboard"] = true;
}

<h2>Account Info</h2>
<table class="table secretInfo">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in User.Claims)
        {
            if (claim.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")
            {
                <tr>
                    <td>@claim.Value</td>
                    <td>@User.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress")?.Value</td>
                </tr>
                break;
            }
        }
    </tbody>
</table>
